@keyframes loadingSpinner {
    0% {
        transform: translate(-50%,-50%) translateZ(0) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) translateZ(0) rotate(360deg);
    }
}

.main {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    text-align: center;
}

.loader {
    position: relative;
    margin: auto;
    display: block;
    width: 60px;
    height: 60px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border-top: 4px solid #000;
        border-right: 4px solid #000;
        border-bottom: 4px solid #000;
        border-left: 4px solid pink;
        transform: translate(-50%,-50%) translateZ(0);
        animation: loadingSpinner 1s infinite cubic-bezier(.63,0,0,1);
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    &__text {
        display: block;
        padding-top: 100%;
    }
}
