.main {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    text-align: center;
    font-size: 32px;
}
